<p>
  <%= @article.title %>&nbsp;&nbsp;<span style="font-style: italic;color:grey;font-size:smaller;"><%= @article.created_at.to_formatted_s(:long) %></span><br/>
  (<%= Category.find(@article.category_id).name %>)
  
  <br/><br/>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<% if @article.comments.count == 0 %>
	<p>No Comments Found</p>
<% else %>
	<%= render @article.comments %>
<% end %>

<% if current_user %>
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
<% end %>

<%= link_to 'Back', :back %>
<%= link_to 'Home', articles_path %>
<%= link_to 'Edit', edit_article_path %>

